body {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1571253022782-13b67df096b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
  color: #ffff;
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  line-height: 28px;
}
h4 {
  color: rgb(144, 62, 95);
}
ul {
  color: rgba(255, 255, 255, 0.886);
  margin: 0;
  padding: 0px;
  padding-inline-start: 32px;
  padding-left: 0;
}
li {
  display: block;
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  padding-left: -2rem;
  padding-inline-start: 0;
}
.weather-app {
  background-color: rgba(255, 255, 255, 0.242);
  opacity: 30px;
  padding: 25px;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
  max-width: 700px;
}
.button-image:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  resize: none;
}
.locationButton:before {
  background-image: url("https://static.thenounproject.com/png/205058-200.png");
}
.intro {
  color: rgba(255, 255, 255, 0.886);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  list-style: none;
  padding-bottom: 15px;
}
.elements {
  color: rgba(82, 56, 56, 0.975);
  margin-bottom: 20px;
  font: bold;
}
.units .active {
  color: rgb(247, 226, 226);
  cursor: default;
  text-decoration: none;
}
.units .active :hover {
  text-decoration: none;
}
.temperature {
  color: rgb(247, 226, 226);
  font-size: 64px;
  font-weight: 400;
}
.temperature .description {
  color: grey;
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  list-style: none;
  padding-bottom: 30px;
}
.units {
  position: relative;
  top: -80px;
  left: 60px;
}
.weather-icon {
  display: inline;
  height: 104px;
  width: 124px;
  position: relative;
  top: -15px;
}
.search-box {
  margin-bottom: 25px;
}
.weather-forecast {
  padding-top: 15px;
}
.weather-forecast img {
  width: 70px;
}
.forecast-temperature {
  text-align: center;
  color: rgb(247, 226, 226);
  font-size: 15px;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.link-to-code {
  padding: 10px;
}
.photo-reference {
  color: rgb(247, 226, 226);
  margin: 0 auto;
  padding-top: 135px;
  padding-bottom: 25px;
}
